<%- include('../partials/head.ejs') %>
<ul>
  <li><a href="/landing">Landing page</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<div class="container">
  <main class="wrapper">
    <h3>all posts</h3>
    <br />
    <% if(blogs.length > 0) { %>

    <div class="blog">
      <% blogs.forEach((blog, index) => { %>
      <a href="/api/posts/<%= blog._id %>"
        >#<%= index + 1 %> <%= blog.title %> <br>
      </a>
      <% }) %>
    </div>
    <% } else { %>
    <h3>no post</h3>

    <% } %>
  </main>
</div>

<%- include('../partials/footer.ejs') %>
